 
 *{
    box-sizing:border-box;
 }
 

    body{
        font-family: 'Inter', sans-serif;
    }


        .col{
            flex:50%;
        }

        .testimonial-container{
        margin:0 auto;
        padding: 30px;
        /* border:solid 1px black; */
        width:1023px;
        height:900px;
   }
    
    .tanya{
        width:500px;
        height:460px;
        position: fixed;
        top:-10px;
        right:350px;
        padding:5px;
        margin:50px;
        border-radius:10px;
    }

    /* main{
        border:1px solid black;
    } */

    .testimonials{
    position: fixed;
    top: -10px;
    left: 30px;
    padding: 45px;
    font-size:32px;
    width:47%;
    height:25%;
    top:-10px;
    right:-50px;
    font-weight:300;
    color:hsl(240, 38%, 20%);
    }


    .quotes-pic{
        position:fixed;
        top: -10px;
        left:150px;
        padding:20px;
    }


    .curve{
    position: fixed;
    margin: 70px;
    top:-10px;
    left:-430px;
    padding:350px;
        }


    .bg-pic{
        background-repeat: no-repeat;
        background-image: url("../images/pattern-bg.svg");
    }

    .user-statement{
        position:fixed;
    }
    .ux-info{
      font-size:32px;  
      font-family: 'Inter', sans-serif;
      position:fixed;
      top: -10px;
      left: -250px;
      margin:320px;
    }

    main{
        margin:20px;
    }

    /* Footer */
    
 .attribution { font-size: 11px; 
    text-align: center; 
    position:fixed;
}
    .attribution a { color: hsl(228, 45%, 44%); }