 
 *{
    box-sizing:border-box;
 }
 

    body{
        font-family: 'Inter', sans-serif;
    }


        .col{
            flex:50%;
        }

        .testimonial-container{
        margin:0 auto;
        padding: 30px;
        position:fixed;
        top:10px;
        /* border:solid 1px black; */
        width:1400px;
        height:900px;
        display:flex;
        justify-content: center;
        
   }
    
    .tanya{
    width: 500px;
    height: 480px;
    position: absolute;
    top: -10px;
    right: 50px;
    /* padding: 5px; */
    margin: 50px;
    }

    main{
        /* border:1px solid black; */
        width:1400px;
        height:700px;
        margin:20px;
    }

    .testimonials{
    position: fixed;
    top: -10px;
    left:100px;
    padding: 45px;
    font-size:32px;
    width:47%;
    height:25%;
    top:-10px;
    right:-50px;
    font-weight:300;
    color:hsl(240, 38%, 20%);
    }


    .quotes-pic{
        position:fixed;
        top: -10px;
        left:200px;
        padding:40px;
        height:19%;
        width:12%;
    }


    .curve{
    position: fixed;
    margin: 70px;
    top:-10px;
    left:-400px;
    padding:350px;
        }


    .name{
        color:hsl(240, 38%, 20%);
        font-weight: 300;
           font-size:32px;  
    }
    .bg-pic{
        background-repeat: no-repeat;
        background-image: url("../images/pattern-bg.svg");
    }
   
    /* .pattern-bg{
        position:absolute;
    } */

        .bg-pic{
            background-image: url("../images/pattern-bg.svg");
            background-repeat: no-repeat;
        }
    .user-statement{
        position:fixed;
    }
    .ux-info{
      font-size:32px;  
      font-family: 'Inter', sans-serif;
      position:fixed;
      top: -10px;
      left: -190px;
      margin:320px;
    }


    /* Footer */
    
 .attribution { font-size: 11px; 
    text-align: center; 
    position:fixed;
}
    .attribution a { color: hsl(228, 45%, 44%); }